---
import Breadcrumbs from "@src/components/breadcrumbs/Breadcrumbs.astro";
import Observability from "@src/components/observability/Observability";
import UtbetalingPage from "@src/components/pages/utbetalingDetaljeSide/UtbetalingPage.astro";
import UtbetalingPageSkeleton from "@src/components/pages/utbetalingDetaljeSide/UtbetalingPageSkeleton.astro";
import Layout from "@src/layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout>
  <Breadcrumbs includeUtbetalinger={true} />
  <UtbetalingPage server:defer id={id as string}>
    <div slot="fallback">
      <UtbetalingPageSkeleton />
    </div>
  </UtbetalingPage>
  <Observability client:only="react" />
</Layout>
