---
import Layout from '@src/layouts/Layout.astro';
import Breadcrumbs from '@src/components/breadcrumbs/Breadcrumbs.astro';
import UtbetalingPage from '@src/components/pages/utbetalingDetaljeSide/UtbetalingPage.astro';
import UtbetalingPageSkeleton from '@src/components/pages/utbetalingDetaljeSide/UtbetalingPageSkeleton.astro';

import Observability from '@src/components/observability/Observability';
import PrintButton from '@src/components/prinButton/PrintButton';

const { id } = Astro.params;
---

<Layout>
  <Breadcrumbs includeUtbetalinger={true} />
  <UtbetalingPage server:defer id={id as string}>
    <div slot="fallback">
      <UtbetalingPageSkeleton />
    </div>
  </UtbetalingPage>
  <PrintButton client:only="react" />
  <Observability client:only="react" />
</Layout>
