.tidligereUtbetalingLink,
.nesteUtbetalingLink {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  border-color: transparent;
}

.tidligereUtbetalingLink :global(.aksel-link-panel__content),
.nesteUtbetalingLink :global(.aksel-link-panel__content) {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.tidligereUtbetalingLink {
  background-color: initial;
}

.nesteUtbetalingLink {
  background-color: var(--ax-bg-success-soft);
  border-radius: 8px;
}

.betalingRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  white-space: nowrap;
}

.nesteUtbetalingLink:hover {
  box-shadow: none;
  background: var(--ax-bg-success-moderate-hover);
  border-color: transparent;
}

.tidligereUtbetalingLink:hover {
  box-shadow: none;
  background: var(--ax-bg-neutral-moderate-hover);
  border-color: transparent;
}

.nesteUtbetalingLink:hover svg,
.tidligereUtbetalingLink:hover svg {
  transition-duration: 0.2s;
  transform: translateX(4px);
}
