.container {
  margin-top: 2rem;
}

.periodeDate {
  margin-top: 0.75rem;
  display: block;
  font-weight: 600;
}

.list {
  list-style: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
  border-top: var(--custom-divider-line);
  border-bottom: var(--custom-divider-line);
}

.listElement {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.ytelseElements {
  list-style: none;
  margin-top: 0.5rem;
}

.ytelseElements:last-child {
  margin-bottom: 0.56rem;
}

.periodeSammendrag {
  display: grid;
  grid-template-columns: max-content auto;
}

.ytelseTittel {
  margin-top: 0.5rem;
  grid-column-start: 1;
}

.ytelseBelop {
  margin-left: 0;
  margin-top: 0.5rem;
  text-align: right;
  grid-column-start: 2;
}

.nettoElement {
  font-weight: var(--a-font-weight-bold);
  margin-top: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  border-top: var(--custom-divider-line);
}

@media (min-width: 480px) {
  .container {
    margin-top: 3rem;
  }
}

@media print {
  .periodeDate {
    margin-top: 0rem;
  }

  .list {
    margin-top: 1rem;
  }
}
