.bruttoElement {
  margin-bottom: 1.5rem;
}

.detaljeTittel {
  grid-column-start: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--custom-divider-line);
}

.detaljeBelop {
  grid-column-start: 2;
  text-align: right;
  margin-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--custom-divider-line);
}

.sumElement {
  font-weight: var(--a-font-weight-bold);
}
