---
import Layout from "../layouts/Layout.astro";
import styles from "../styles/index.module.css";
import Landingsside from '@src/components/pages/landingsside/Landingsside.tsx'
---

<Layout title="Utbetalingsoversikt">
    <div class={styles.headingWrapper}>
        <Landingsside client:only />
    </div>
</Layout>