---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/index.module.css';
import Landingsside from '@src/components/pages/landingsside/Landingsside.tsx';
import Observability from '@src/components/observability/Observability';
import { parseIdportenToken } from '@navikt/oasis';
---

<Layout title="Utbetalingsoversikt">
  <div class={styles.headingWrapper}>
    <Landingsside client:only="react" />
  </div>
  <Observability client:only="react" />
</Layout>
