.detaljerHeading {
  margin-top: 2rem;
  padding-bottom: 0.75rem;
  border-bottom: var(--custom-divider-line);
}

.detaljerListe {
  display: grid;
  grid-template-columns: max-content auto;
  border-bottom: var(--custom-divider-line);
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  .detaljerHeading {
    margin-top: 2.75rem;
  }
}
